// .barras{
//   background-color: aliceblue;
// }
// ion-content{
//   --background: aliceblue;
// }

ion-tabs{
  --background: white;
}

.barras{
  background-color: white;
  border-color: #d9e1f2;
}

ion-tab-button{
  --background:#d9e1f2;
}
