<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Conexão com Luy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Configurar Nova Rede Wi-Fi</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-icon slot="start" name="wifi-outline"></ion-icon>
        <ion-label position="stacked">Nome da Rede (SSID)</ion-label>
        <ion-input
          [(ngModel)]="wifiSSID"
          placeholder="Nome do seu Wi-Fi"
          clearInput>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-label position="stacked">Senha do Wi-Fi</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="wifiPASS"
          placeholder="********"
          clearInput>
        </ion-input>
      </ion-item>

      <ion-button
        expand="block"
        color="light"
        class="ion-margin-top"
        (click)="configurarNovaMao()"
        [disabled]="isConfiguring">

        <ion-spinner *ngIf="isConfiguring" slot="start"></ion-spinner>
        <ion-icon
          *ngIf="!isConfiguring"
          slot="start"
          name="bluetooth-outline">
        </ion-icon>

        {{ isConfiguring ? statusConfig : 'Enviar via Bluetooth' }}
      </ion-button>


      <!--botão de desparelhar-->
      <ion-button
      expand="block"
      color="light"
      class="ion-margin-top"
      (click)="desparelhar()"
      [disabled]="isConfiguring"
      slot="start"
      name="bluetooth-outline">
      <ion-spinner *ngif="isConfiguring" slot="start"></ion-spinner>
      <ion-icon
      *ngIf="!isConfiguring"
      slot="start"
      name="bluetooth-outline">
      </ion-icon>

      {{ isConfiguring ? statusConfig : 'Desemparelhado a conexão'}}
      </ion-button>

    </ion-card-content>
    </ion-card>

  <!-- CONEXÃO DIRETA VIA WIFI -->
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Conexão Direta (Wi-Fi)</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-icon slot="start" name="globe-outline"></ion-icon>
        <ion-label position="stacked">Endereço (IP ou mDNS)</ion-label>
        <ion-input
          [(ngModel)]="ipEsp32"
          placeholder="maorobotica.local"
          clearInput>
        </ion-input>
      </ion-item>

      <ion-button
        expand="block"
        class="ion-margin-top"
        (click)="salvarIP()">

        <ion-icon slot="start" name="save-outline"></ion-icon>

      </ion-button>

    </ion-card-content>
  </ion-card>


</ion-content>
