<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem-vindo ao Luy-83 </ion-card-title>
      <p *ngIf="user">Usuário: {{ user.username }}</p>
    </ion-card-header>

    <ion-card-content>
      <h2>Status da Conexão</h2>
      <div class="connection-status">
        <ion-icon name="hand-left" size="large" [class]="isConnected ? 'connected' : 'disconnected'"></ion-icon>
        <p>{{ isConnected ? 'Conectado à mão robótica' : 'Desconectado da mão robótica' }}</p>
        <ion-button (click)="toggleConnection()" [color]="isConnected ? 'danger' : 'success'">
          {{ isConnected ? 'Desconectar' : 'Conectar' }}
        </ion-button>
      </div>
      <p>Atenção: Certifique-se de que a mão robótica está conectada antes de iniciar qualquer operação.kkkkkkkkkkkkk</p>
    
      <ion-button expand="block" (click)="logout()">
        Sair
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
