<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Início</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irParaPerfil()">
        <ion-icon name="people-outline" slot="icon-only" class="pessoa"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container">

    <div class="greeting-section">
      <h1 class="greeting-text">Olá, Dr(a) {{ getNomeCurto() }}</h1>
    </div>
    <div class="info-list-container">

      <div class="info-row">
        <ion-icon name="wifi-outline" class="info-icon"></ion-icon>
        <div class="info-text">
          <h3>Conexão</h3>
          <p>Certifique-se de que a mão mecânica está ligada e conectada via Wi-Fi antes de iniciar.</p>
        </div>
      </div>

      <div class="info-row">
        <ion-icon name="hand-left-outline" class="info-icon"></ion-icon>
        <div class="info-text">
          <h3>Calibração</h3>
          <p>Verifique se os dedos estão na posição inicial antes de usar.</p>
        </div>
      </div>

      <div class="info-row">
        <ion-icon name="people-outline" class="info-icon"></ion-icon>
        <div class="info-text">
          <h3>Selecionar Paciente</h3>
          <p>Selecione um paciente já registrado antes de iniciar as medições.</p>
        </div>
      </div>

      <div class="info-row">
        <ion-icon name="game-controller-outline" class="info-icon"></ion-icon>
        <div class="info-text">
          <h3>Modo Controle</h3>
          <p>Para testes, use o modo controle para fazer alguns gestos antes de iniciar a medição.</p>
        </div>
      </div>

      <div class="info-row">
        <ion-icon name="pulse-outline" class="info-icon"></ion-icon>
        <div class="info-text">
          <h3>Objetivo da Triagem</h3>
          <p>Este sistema permite medições de sinais vitais a distância através da mão robótica Luy-83.</p>
        </div>
      </div>

    </div>
  </div>
</ion-content>
