<ion-content class="auth-wrapper">
  <div class="container-central">
    <ion-card class="login-card">
      <ion-card-content>

        <div class="brand-section">
          <div class="logo-placeholder"></div>
          <h1 class="brand-name">Luy83</h1>
        </div>

        <form (ngSubmit)="login()">
          <div class="input-container">
            <ion-label class="custom-label">E-mail</ion-label>
            <div class="custom-input-box">
              <ion-input [(ngModel)]="email" name="email" type="email" required autocapitalize="off"></ion-input>
            </div>
          </div>

          <div class="input-container">
            <ion-label class="custom-label">Senha</ion-label>
            <div class="custom-input-box">
              <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
            </div>
          </div>

          <ion-button expand="block" fill="clear" size="small" (click)="irParaRecuperarSenha()">
            Esqueci minha senha
          </ion-button>

          <ion-button expand="block" type="submit" class="btn-primary-blue" [disabled]="!email || !password">
            ENTRAR
          </ion-button>
        </form>

        <ion-button expand="block" fill="outline" class="btn-google" (click)="loginComGoogle()">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          <ion-label>Entrar com o Google</ion-label>
        </ion-button>

        <div class="footer-links">
          <p>
            Não tem uma conta?
            <span class="link-text" (click)="irParaCadastro()">Cadastre-se</span>
          </p>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>