<ion-content class="auth-wrapper">
  <div class="container-central">
    <ion-card class="login-card">
      <ion-card-content>
        
        <!-- Logotipo e Título -->
        <div class="brand-section">
          <div class="logo-placeholder"></div>
          <h1 class="brand-name">Luy83</h1>
        </div>

        <!-- Formulário Adaptado -->
        <form (ngSubmit)="login()">
          <div class="input-container">
            <ion-label class="custom-label">Email</ion-label>
            <div class="custom-input-box">
              <ion-input [(ngModel)]="username" name="username" type="email" required></ion-input>
            </div>
          </div>

          <div class="input-container">
            <ion-label class="custom-label">Senha</ion-label>
            <div class="custom-input-box">
              <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
            </div>
          </div>

          <ion-button expand="block" fill="clear" size="small" (click)="irParaRecuperarSenha()">
          Esqueci minha senha
        </ion-button>
          <ion-button expand="block" type="submit" class="btn-primary-blue" [disabled]="!username || !password"> ENTRAR </ion-button>
        </form>

        <div class="google-login-section" (click)="loginComGoogle()">
          <ion-icon name="logo-google" class="google-icon"></ion-icon>
          <ion-label>Entrar com o Google</ion-label>
        </div>

        <div class="footer-links">
          <p>
            Não tem uma conta? 
            <span class="link-text" (click)="irParaCadastro()">Cadastre-se</span>
          </p>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>